# Application
NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nerd_back_db

# JWT
JWT_ACCESS_SECRET=super_secret_access_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRATION=7d


# Logging
LOG_LEVEL=debug

# Recommended for most uses
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nerd_back_db

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://postgres:postgres@localhost:5432/nerd_back_db
